In [12]:
# Dependencies and Setup
#import matplotlib.pyplot as plt
import pandas as pd
#import numpy as np
import requests
#import time
#from scipy.stats import linregress

import us

# Import API key
#from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
#from citipy import citipy

# pprint - useful for browsing api results
from pprint import pprint

In [13]:
dates = ['2020-01-01', '2020-01-15', '2020-02-01', '2020-02-15',
         '2020-03-01', '2020-03-15', '2020-04-01', '2020-04-15',
         '2020-05-01', '2020-05-15', '2020-06-01', '2020-06-15',
         '2020-07-01', '2020-07-15']
url = 'https://covid-api.com/api/reports'

In [27]:
#Test run
query_params = {'date' : '2020-07-15',
                'iso' : 'USA'}
response = requests.get(url, params=query_params)
print(response.url)
json = response.json()
#pprint(json)
data = json['data']

cases_df = pd.DataFrame(columns=['Active', 'Confirmed', 'Date', 'Deaths', 'Fatality Rate', 'Recovered', 'State'])

for datum in data:
    active = datum['active']
    confirmed = datum['confirmed']
    date = datum['date']
    deaths = datum['deaths']
    fatality_rate = datum['fatality_rate']
    recovered = datum['recovered']
    state = datum['region']['province']
    
    data_row = {
        'Active' : active,
        'Confirmed' : confirmed,
        'Date' : date,
        'Deaths' : deaths,
        'Fatality Rate' : fatality_rate,
        'Recovered' : recovered,
        'State' : state
    }
    
    cases_df = cases_df.append(data_row, ignore_index=True)
    
cases_df.head()

https://covid-api.com/api/reports?date=2020-07-15&iso=USA

   Active Confirmed        Date Deaths  Fatality Rate Recovered       State
0   57856     59067  2020-07-15   1211         0.0205         0     Alabama
1    1614      1631  2020-07-15     17         0.0104         0      Alaska
2  128920    131354  2020-07-15   2434         0.0185         0     Arizona
3   29962     30297  2020-07-15    335         0.0111         0    Arkansas
4  347510    354885  2020-07-15   7375         0.0208         0  California

In [29]:
cases_df = pd.DataFrame(columns=[
    'Active', 
    'Confirmed', 
    'Date', 
    'Deaths', 
    'Fatality Rate', 
    'Recovered', 
    'State'])

for date in dates:
    query_params = {'date' : date,
                    'iso' : 'USA'}
    response = requests.get(url, params=query_params)
    json = response.json()
    data = json['data']

    for datum in data:
        active = datum['active']
        confirmed = datum['confirmed']
        date = datum['date']
        deaths = datum['deaths']
        fatality_rate = datum['fatality_rate']
        recovered = datum['recovered']
        state = datum['region']['province']

        data_row = {
            'Active' : active,
            'Confirmed' : confirmed,
            'Date' : date,
            'Deaths' : deaths,
            'Fatality Rate' : fatality_rate,
            'Recovered' : recovered,
            'State' : state
        }

        cases_df = cases_df.append(data_row, ignore_index=True)

cases_df.head()

  Active Confirmed        Date Deaths Fatality Rate Recovered            State
0      1         1  2020-02-01      0             0         0       Boston, MA
1      2         2  2020-02-01      0             0         0      Chicago, IL
2      1         1  2020-02-01      0             0         0  Los Angeles, CA
3      1         1  2020-02-01      0             0         0       Orange, CA
4      1         1  2020-02-01      0             0         0  Santa Clara, CA

In [32]:
print(len(cases_df['State'].unique()))

79

In [40]:
#state_names = []
#for state in us.states.STATES:
#    state_names.append(state.name)
    
clean_cases_df = cases_df[cases_df["State"].isin([state.name for state in us.states.STATES])]
clean_cases_df

    Active Confirmed        Date Deaths Fatality Rate Recovered          State
38      12        12  2020-03-15      0             0         0        Alabama
39       1         1  2020-03-15      0             0         0         Alaska
40      12        13  2020-03-15      0             0         1        Arizona
41      16        16  2020-03-15      0             0         0       Arkansas
42     414       426  2020-03-15      6        0.0141         6     California
..     ...       ...         ...    ...           ...       ...            ...
553  71535     73527  2020-07-15   1992        0.0271         0       Virginia
554  41625     43046  2020-07-15   1421         0.033         0     Washington
555   4459      4557  2020-07-15     98        0.0215         0  West Virginia
556  37900     38727  2020-07-15    827        0.0214         0      Wisconsin
557   1963      1985  2020-07-15     22        0.0111         0        Wyoming

[450 rows x 7 columns]

In [42]:
clean_cases_df.to_csv("Resources/CasesByState.csv", index=False)

In [44]:
states = {}
for state in us.states.STATES:
    #print(state.abbr)
    #print(state.name)
    states[state.name] = state.abbr
    
pprint(states)

{'Alabama': 'AL',
 'Alaska': 'AK',
 'Arizona': 'AZ',
 'Arkansas': 'AR',
 'California': 'CA',
 'Colorado': 'CO',
 'Connecticut': 'CT',
 'Delaware': 'DE',
 'Florida': 'FL',
 'Georgia': 'GA',
 'Hawaii': 'HI',
 'Idaho': 'ID',
 'Illinois': 'IL',
 'Indiana': 'IN',
 'Iowa': 'IA',
 'Kansas': 'KS',
 'Kentucky': 'KY',
 'Louisiana': 'LA',
 'Maine': 'ME',
 'Maryland': 'MD',
 'Massachusetts': 'MA',
 'Michigan': 'MI',
 'Minnesota': 'MN',
 'Mississippi': 'MS',
 'Missouri': 'MO',
 'Montana': 'MT',
 'Nebraska': 'NE',
 'Nevada': 'NV',
 'New Hampshire': 'NH',
 'New Jersey': 'NJ',
 'New Mexico': 'NM',
 'New York': 'NY',
 'North Carolina': 'NC',
 'North Dakota': 'ND',
 'Ohio': 'OH',
 'Oklahoma': 'OK',
 'Oregon': 'OR',
 'Pennsylvania': 'PA',
 'Rhode Island': 'RI',
 'South Carolina': 'SC',
 'South Dakota': 'SD',
 'Tennessee': 'TN',
 'Texas': 'TX',
 'Utah': 'UT',
 'Vermont': 'VT',
 'Virginia': 'VA',
 'Washington': 'WA',
 'West Virginia': 'WV',
 'Wisconsin': 'WI',
 'Wyoming': 'WY'}

In [50]:
clean_cases_df.loc[:,"State Abbr"] = clean_cases_df["State"].map(states)
clean_cases_df

/Users/georgehyros/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

,Active,Confirmed,Date,Deaths,Fatality Rate,Recovered,State,State Abbr
38,12,12,2020-03-15,0,0,0,Alabama,AL
39,1,1,2020-03-15,0,0,0,Alaska,AK
40,12,13,2020-03-15,0,0,1,Arizona,AZ
41,16,16,2020-03-15,0,0,0,Arkansas,AR
42,414,426,2020-03-15,6,0.0141,6,California,CA
...,...,...,...,...,...,...,...,...
553,71535,73527,2020-07-15,1992,0.0271,0,Virginia,VA
554,41625,43046,2020-07-15,1421,0.033,0,Washington,WA
555,4459,4557,2020-07-15,98,0.0215,0,West Virginia,WV
556,37900,38727,2020-07-15,827,0.0214,0,Wisconsin,WI
557,1963,1985,2020-07-15,22,0.0111,0,Wyoming,WY

In [51]:
clean_cases_df.to_csv("Resources/CasesByStateAbbr.csv", index=False)